<html>
<body>
{{#username}}
Hello, {{.}}!<br><br>
<form action = "/logout" method="post" style="display:inline-block;">
    <button type="submit">Log out</button>
</form>
<form action="/create-message" method="post">
    <input type="text" name="message" placeholders="Write a message"/>
    <input type="hidden" name="replyId" value="{{replyId}}" />
    <button type="submit" style="font-family: Arial">Submit</button>
</form>
<br>
{{/username}}

{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Name" />
    <button type="submit">Log in</button>
</form>
<br>
{{/username}}

{{#messages}}
<a href="/?replyId={{id}}">{{author}}: {{text}}</a><br>
{{/messages}}
</body>
</html>